.section-login{
    /* border: 2px solid rgb(4, 110, 13); */
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.container-login input{
    /* font-family: 'Outfit', sans-serif; */
    padding: 0.5rem 0rem;
    font-size: 1rem;
    border: none;
    /* border-radius: 0.5rem;*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px; 
    outline: none;
    border-bottom: 1px solid #9c9c9c;
}

.container-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 315px;
    max-width: 400px;
    margin: 0px 0px;
    /* border: 2px solid red; */
  }

.login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items:flex-start; */
    /* border: 2px solid rgb(47, 0, 255); */
    /* padding: 0px 50px; */
    margin-top: 20px;

}

/* .login input{
    border-bottom: 1px solid #9c9c9c;
} */






.button-google {
    align-self: center;
    border: none;
    border-radius: 10px;
    /* padding: 1rem 1.5rem; */
    height: 2.5em;
    width: 90%;
    color: #ffffff;
    background-color: salmon; 
    margin-bottom: 20px;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
 }

 .button-facebook {
    align-self: center;
    border: none;
    border-radius: 10px;
    /* padding: 1rem 1.5rem; */
    height: 2.5em;
    width: 90%;
    color: #ffffff;
    background-color: #3b5998; 
    margin-bottom: 20px;
    border: none;
    border-radius: 0.5rem;
    outline: none;
 }

 @media screen and (min-width: 320px) {
    
    .section-login{
        /* border: 2px solid rgb(4, 110, 13); */
        display: flex;  
        max-width: 315px;    
    }
 }

 @media screen and (min-width: 450px) {
    
    .section-login{
        /* border: 2px solid rgb(4, 110, 13); */
        display: flex;  
        max-width: 400px;    
    }
 }

