.input-select {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;

}

.input-select div {
   
    flex-direction: column;
   
}

.input-select div span {
   
    flex-direction: column;
 
}

.input-select select {
    border: 2px solid #929292;
    border-radius: 5px;
    background-color: white;
    color: #929292;
    font-size: 1em;
    height: 2em;   
    width: max-content;

}



.show-input-gal{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}


.display-none {
    display: none;
}

.display-block {
    display: block;
}

.border-reg {
    border: 2px solid red;
}

.border-green {
    border: 2px solid green;
}