.act-form-background {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

    display: flex;
    justify-content: center;

    box-sizing: border-box;
   
}

.act-from-background::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.container-act-form {
    box-sizing: border-box;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 15px;

    width: clamp(300px, 90%, 450px);
    height: max-content; 

    border-radius: 20px;
    box-shadow: 0 0 25px -5px rgb(0 0 0 / 15%);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    z-index: 1;
    overflow-y: auto; 
          
    
}

.container-act-form::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.act-form-title {
    position: relative;
    text-align: center;
    padding: 15px;
    margin: 0;
    background-color: var(--primary-text-color);
    color: #fff;
    border-radius: 19px 20px 0 0;

}

.act-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1%;
}

.act-form-icon {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.act-form-icon .block-icon {
    width: 100%;
}

.act-form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px 0;
}

.act-form-input span {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}

.act-form-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    gap: 20px;
    padding: 10px 0;
}

.act-form-button .button-submit,
.act-form-button .button-reset {
    margin: 0;
}

.act-form-button button {
    min-width: 100px;
    max-width: 200px;
}

.button-close-edit {
    position: absolute;
    top: -1px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transform: rotate(45deg);
}

.activity-UD i{
    color: black;  
}

.activity-UD i:hover{
    color: var(--primary-text-color);
    cursor: pointer;

}


@media screen and (min-width: 320px) {

    .act-from-background {      

        overflow-y: auto;
        /* Enable scroll if needed */
   
        padding: 30px 0;
    }


    .container-act-form {           
        margin: 30px auto 100px auto;
    }

    .act-form {
        padding-bottom: 20px;
    }
}




@media screen and (min-width: 992px) {

    .act-from-background {
        z-index: 200;
    }    
     .container-act-form{         
         margin-top: 200px;
         height: 759px;         
     }

     .act-form{
        justify-content: stretch;
        margin: auto 0;
     }

}