.act-from-background {       
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: visible; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    display: flex;
    justify-content: center;

    box-sizing: border-box;
    padding: 30px 0;
  }


.container-act-form{
    box-sizing: border-box;
    margin: 0 0;

    display: flex;
    flex-direction: column; 
    gap: 15px;

    width: calc(100% /3); 
    height: 100%;  

    border-radius: 20px;
    box-shadow: 0 0 25px -5px rgb(0 0 0 / 15%);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);    
    z-index: 1;
}

.act-form-title{
    position: relative;
    text-align: center;
    /* padding: 15px; */
    margin: 0;
    background-color: var(--primary-text-color);
    color: #fff;
    border-radius: 19px 20px 0 0;

}

.act-form{
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 1%;
}
.act-form-icon{
    display: flex;
    justify-content: center;   
    margin: 20px 0;
}

.act-form-icon .block-icon{
    width: 100%;
}
.act-form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; 
}

.act-form-input span{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;   
    width: 100%;    
}

.act-form-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    gap: 20px;
}
.act-form-button .button-submit , .act-form-button .button-reset{
   margin: 0;
}
.act-form-button button{
   min-width: 100px;
   max-width: 200px;
}

.button-close-edit{
    position: absolute;
    top: -1px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transform: rotate(45deg);
}



@media screen and (max-width: 1180px) and (min-width: 820px) {    

    .container-act-form{
        height: 600px;
        margin: auto;
        width: 40%;
    }

}