section {
    margin: 0px;
}

.container-activity-report {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* container-css */
.container-css-50 {
    /* border: 2px solid red; */
    min-width: 315;
    width: 50%;
    box-sizing: border-box;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;


}

/* header-act-ls */
.header-act-ls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    /* margin-bottom: 20px; */
}


.header-act-ls p {
    margin: 0px;
}

/* act-user-profile */
.card-user-profile {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;

    border-radius: 20px;
    box-shadow: 0 0 25px -5px rgb(0 0 0 / 15%);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
}

.create-act-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5em;
    ;
}



/* "act-lists  */
/* .act-container{
    d
} */
.activity-title {
    background-color: var(--primary-text-color);
    padding: 5px 10px;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.act-lists {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-height: 600px;
    /* padding: 20px 20px; */
    border-radius: 20px;
    box-shadow: 0 0 25px -5px rgb(0 0 0 / 15%);
    /* background-color: #fff; */
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */

    overflow-y: scroll;
    overflow-x: hidden;
}

.act-lists::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

/* -------------------------------ADS START------------------------------- */
#ads .ads-fit {
    margin-top: 20px;
    position: relative;

}

#ads .ads-fit .ads-img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    filter: contrast(2);
    object-position: center center;
    border-radius: 20px;
    box-shadow: 0 0 25px -5px rgb(0 0 0 / 15%);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
}

#ads .ads-fit .ads-head {
    position: absolute;
    right: 10px;
    background-position-x: 341px;
    top: 5px;
    background-position-y: 250px;
    content: "";
    clear: both;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 0.8em;
    font-size: 3.5em;
    color: transparent;
    background-image: url(https://imgz.io/images/2022/03/31/Masters-Sprint.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    filter: brightness(3);
}

/* --------------------------------ADS END-------------------------------- */


.border-red {
    border: 2px solid red;
}

.border-bule {
    border: 2px solid blue;
}

.border-green {
    border: 2px solid green;
}

.border-yellow {
    border: 2px solid yellow;
}

@media screen and (max-width: 1180px) and (min-width: 820px) {
    .container-activity-report {
        flex-direction: column;
    }

    .container-css-50 {
        width: 100%
    }

    .container-act-form{
        height: 600px;
    }

}