.input-select {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;


}

.input-select div span {
    display: flex;
    flex-direction: column;
}

.input-select select {
    border: 2px solid #929292;
    border-radius: 5px;
    background-color: white;
    font-size: 1em;

}


.input-select input[type="date"],
input[type="number"],
input[type="time"],
input[type="text"] {
    border: 2px solid #929292;
    border-radius: 5px;
    background-color: white;
    font-size: 1em;

}

.show-input-gal{
    border: 2px solid bule;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}


.display-none {
    display: none;
}

.display-block {
    display: block;
}

.border-reg {
    border: 2px solid red;
}

.border-green {
    border: 2px solid green;
}