.card{
    border-radius: 10px;
}
.card, .activity-container{
    box-shadow: 0 0 25px -5px rgba(0, 0, 0, .15);
}
/* --------------------------------PROFILE START------------------------------- */
#profile{
    position: relative;
    .body-top{
        .profile-image{
            border-radius: 50%;
            width: 60px;
            height: 60px;
            background-color: rgb(255, 255, 0);
            img{
                padding: 5px;
                width: 100%;
                height: 100%;
                margin-top: -3px;
            }
        }
    }
}
#score{
    .score-card{
        background-image: url(https://imgz.io/images/2022/03/30/score-bg.jpg);
        background-size: cover;
        background-position: -130px center;
        background-repeat: none;
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 10px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        .scored{
            font-size: 3em;
        }
        &::after{
            content: "";
            display: block;
            clear: both;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: .3;
            background-color: rgb(0, 60, 255);
            filter: contrast(2);
            border-radius: 10px;
        }
        h5, h2, p{
            z-index: 99;
        }
    }
}
/* ---------------------------------PROFILE END-------------------------------- */



/* --------------------------------ACTIVITY START------------------------------- */
#activity-list{
    overflow: hidden;
    .activity-title{
        background-color: #f85f6a;
        padding: 5px 10px;
        color:#fff;
        border-radius: 10px 10px 0 0;
    }
    .activity-container{
        padding: 7px 0;
        background-color: #fff;
        .activity-item{
            padding: 3px 0;
            &:hover{
                background-color: rgba(240, 240, 240, 0.7);
                border-radius: 5px;
                cursor: pointer;
            }
            .activity-icon{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                img{
                    width: 40px;
                    height: 40px;
                    padding: 3px;
                }
            }
            details{
                background-color: transparent;
                border: none;
                outline: none;
                display: block;
                width: 100%;
                cursor: pointer;
                &> summary{
                    padding: 4px;
                    width: 100%;
                }
            }
        }
    }
    .fixed-card{
        padding: 5px;
        min-height: 50px;
        max-height: 300px;
        border-top: transparent;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-left: 1px solid lightgray;
        border-radius: 0 0 10px 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}


.welldone{
    color: var(--welldone);
}
.fair{
    color: var(--fair);
}
.try{
    color: var(--try);
}

/* ---------------------------------ACTIVITY END-------------------------------- */


/* --------------------------------GRAPH START------------------------------- */
#graph-title{
    .bar-in{
        height: 5px;
        background-color: #d6d6d6;
        position: relative;
        border-radius: 15px;
        &::after{
            border-radius: 15px;
            display: block;
            content: "";
            clear: both;
            position: absolute;
            top: 0;
            right: 0;
            width: 100px;
            height: 100%;
            background-color: #4b4b4b;
        }
    }
}
#graph{
    .meter{
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        top: 20px;
        padding: 0 15px;
        text-align: center;
        height: 100%;
        width: 100%;
        ul{
            width: 25px;
            height: 68%;
            font-size: .8em;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li{
                &::before{
                    content: "";
                    display: block;
                    clear: both;
                    margin: 0 auto;
                    width: 20px;
                    border: .2px solid lightgray;
                    z-index: 99;
                }
            }
        }
    }
    .graph-container{
        position: relative;
        background-color: rgb(241, 245, 245);
        padding: 15px;
        height: 180px;
        overflow-x: scroll;
        margin-left: 20px;
        margin-right: 20px;
        .graph-user{
            .color-graph-weight{
                fill: var(--graph-chart-color-1);
                color: var(--graph-chart-color-1);
            }
            .color-graph-calories{
                fill: var(--graph-chart-color-2);
                color: var(--graph-chart-color-2);
            }
            &:nth-child(1){
                opacity: .9;
                stroke: red;
                stroke-width: 3px;
            }
            &:nth-child(2){
                opacity: .5;
                stroke: blue;
                stroke-width: 3px;
            }
            &:nth-child(1),&:nth-child(2){
                position: absolute;
                top: 0;
                left: 0;
                width: 810px;
                transform-origin: top;
            }
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
    .label-container{
        justify-content: space-between;
        align-items: center;
        .color-graph-weight{
            fill: var(--graph-chart-color-1);
            color: var(--graph-chart-color-1);
        }
        .color-graph-calories{
            fill: var(--graph-chart-color-2);
            color: var(--graph-chart-color-2);
        }
    }
}


/* ---------------------------------GRAPH END-------------------------------- */


/* -------------------------------ADS START------------------------------- */
#ads{
    .ads-fit{
        margin-top: 20px;
        position: relative;
        .ads-img{
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            filter: contrast(2);
            object-position: center center;
        }
        .ads-head{
            position: absolute;
            right: 10px;
            background-position-x: 10px;
            top: 5px;
            background-position-y: -5px;
            content: "";
            clear: both;
            display: block;
            width: 100%;
            height: 100%;
            line-height: .8em;
            font-size: 3.5em;
            color: transparent;
            background-image: url(https://imgz.io/images/2022/03/31/Masters-Sprint.jpg);
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            filter: brightness(3);
        }
    }
}
/* --------------------------------ADS END-------------------------------- */

@media screen and (min-width: 576px){
    #score{
        .score-card{
            height: 100%;
            z-index: -1;
            &::after{
                z-index: -1;
            }
            .scored{
                font-size: 5em;
            }
        }
    }
    #ads{
        .ads-fit{
            margin-left: -18px;
            margin-right: -18px;
            .ads-head{
                font-size: 6em;
                right: 30px;
                background-position-x: 30px;
                top: 25px;
                background-position-y: -25px;
            }
            .ads-img{
                height: 100%;
                object-fit: cover;
                object-position: center center;
                display: block;
            }
        }
    }
}
@media screen and (min-width: 768px){
    #profile{
        .body-top{
            position: relative;
            .create-btn{
                position: absolute;
                top: 0;
                right: 0;
                margin-top: -10px;
                font-size: .9em;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
    #graph{
        .graph-container{
            height: 220px;
            margin-left: 25px;
            overflow-x: scroll;
            overflow-y: hidden;
            cursor: crosshair;
            .graph-user{
                &:nth-child(1),&:nth-child(2){
                    width: 990px;
                }
            }
        }
    }

    #activity-list{
        margin-top: 1.5px;
        .fixed-card{
            max-height: 435px;
        }
    }
    #graph-title{
        .bar-in{
            &::after{
                left: 0;
            }
        }
    }
    #ads{
        .ads-fit{
            height: 233px;
            margin-left: -24px;
            margin-right: -24px;
            .ads-head{
                font-size: 4em;
                line-height: .8em;
                top: 25px;
                background-position-y: -75px;
            }
            .ads-img{
                object-position: center -50px;
            }
        }
    }
    #score{
        height: 76.8px;
        .score-card{
            height: auto;
            width: 100%;
            .scored{
                font-size: 4em;
            }
        }
    }
    #donut{
        .card-body{
            flex-direction: column;
            justify-content: space-between;
            .circle-chart-day-circle,
            .circle-chart-week-circle,
            .circle-chart-year-circle{
                animation: circle-chart-fill 2s reverse; /* 1 */ 
                transform: rotate(-90deg); /* 2, 3 */
                transform-origin: center; /* 4 */
            }
            .circle-chart-day-circle-negative,
            .circle-chart-week-circle-negative,
            .circle-chart-year-circle-negative{
                transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
            }
            
            .circle-chart-day-info{
                animation: circle-chart-appear 2s forwards;
                opacity: 0;
                transform: translateY(0.3em);
            }
            
            @keyframes circle-chart-fill{
                to{
                    stroke-dasharray: 0 100;
                }
            }
            
            @keyframes circle-chart-appear{
                to{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            .circle-chart-day[width],.circle-chart-day[height]{
                height: 120px;
            }
            .circle-chart-week[width],.circle-chart-week[height]{
                height: 160px;
            }
            .circle-chart-year[width],.circle-chart-year[height]{
                height: 120px;
            }
            .circle-chart-day-circle[stroke]{
                stroke: rgb(255, 144, 144);
            }
            .circle-chart-week-circle[stroke]{
                stroke: rgb(115, 255, 102);
            }
            .circle-chart-year-circle[stroke]{
                stroke: #00d9ff;
            }
        }
    }
}
@media screen and (min-width: 996px){
    #donut{
        .card-body{
            flex-direction: row;
            justify-content: center;
            .circle-chart-day[width],.circle-chart-day[height]{
                width: 160px;
                height: 160px;
            }
            .circle-chart-week[width],.circle-chart-week[height]{
                width: 160px;
                height: 160px;
            }
            .circle-chart-year[width],.circle-chart-year[height]{
                width: 160px;
                height: 160px;
            }
        }
    }
    
    #graph{
        .graph-container{
            height: 220px;
            .graph-user:nth-child(1), .graph-user:nth-child(2){
                width: 990px;
            }
        }
    }
    #profile{
        height: 186.44px;
    }
    #activity-list{
        margin-top: -225px;
    }
    #ads{
        .ads-fit{
            margin-left: 0;
            margin-right: 0;
            .ads-head{
                font-size: 4em;
                top: 20px;
                background-position-y: -20px;
            }
            .ads-img{
                border-radius: 10px;
                object-position: top;
            }
        }
    }
}
@media screen and (min-width: 1200px){
    #donut{
        .card-body{
            .circle-chart-day[width],.circle-chart-day[height]{
                width: 180px;
                height: 180px;
            }
            .circle-chart-week[width],.circle-chart-week[height]{
                width: 200px;
                height: 200px;
            }
            .circle-chart-year[width],.circle-chart-year[height]{
                width: 180px;
                height: 180px;
            }
        }
    }
    
    #ads{
        .ads-fit{
            height: 193px;
            .ads-head{
                top: 10px;
                background-position-y: -60px;
            }
            .ads-img{
                object-position: center -50px;
            }
        }
    }
}