:root {
  --graph-chart-color-1: #ffa1a7;
  --graph-chart-color-2: #afb6ff;
  --graph-chart-color-3: #bfffde;
}

/* --------------------------------GRAPH START------------------------------- */
#graph-title .bar-in {
  height: 5px;
  background-color: #d6d6d6;
  position: relative;
  border-radius: 15px;
}

#graph-title .bar-in::after {
  border-radius: 15px;
  display: block;
  content: "";
  clear: both;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background-color: #4b4b4b;
}

#graph .meter {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 20px;
  padding: 0 15px;
  text-align: center;
  height: 100%;
  width: 100%;
}

#graph .meter ul {
  width: 25px;
  height: 68%;
  font-size: 0.8em;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#graph .meter ul li::before {
  content: "";
  display: block;
  clear: both;
  margin: 0 auto;
  width: 20px;
  border: 0.2px solid lightgray;
  z-index: 99;
}

#graph .graph-container {
  position: relative;
  background-color: #f1f5f5;
  padding: 15px;
  height: 180px;
  overflow-x: scroll;
  margin-left: 20px;
  margin-right: 20px;
}

#graph .graph-container .graph-user .color-graph-weight {
  fill: var(--graph-chart-color-1);
  color: var(--graph-chart-color-1);
}

#graph .graph-container .graph-user .color-graph-calories {
  fill: var(--graph-chart-color-2);
  color: var(--graph-chart-color-2);
}

#graph .graph-container .graph-user:nth-child(1) {
  opacity: 0.9;
  stroke: red;
  stroke-width: 3px;
}

#graph .graph-container .graph-user:nth-child(2) {
  opacity: 0.5;
  stroke: blue;
  stroke-width: 3px;
}

#graph .graph-container .graph-user:nth-child(1),
#graph .graph-container .graph-user:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 810px;
  transform-origin: top;
}

#graph .graph-container .graph-user::-webkit-scrollbar {
  display: none;
}

#graph .label-container {
  justify-content: space-between;
  align-items: center;
}

#graph .label-container .color-graph-weight {
  fill: var(--graph-chart-color-1);
  color: var(--graph-chart-color-1);
}

#graph .label-container .color-graph-calories {
  fill: var(--graph-chart-color-2);
  color: var(--graph-chart-color-2);
}

/* ---------------------------------GRAPH END-------------------------------- */

.chart-line {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 25px -5px rgb(0 0 0 / 15%);
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
}

@media screen and (min-width: 320px) {
  .chart-line {
    padding: 5px;
  }
}
@media screen and (min-width: 450px) {
  .chart-line {
    padding: 20px;
  }
}