.act-user-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    border-bottom: 1px solid var(--secondary-icon-color);
    border-top: 1px solid var(--secondary-icon-color);

    padding: 15px 15px;
}
.act-user-image{
    width: 80px;
    height: 80px;
    
}

.act-user-image img{
    width: 100%;
    background-color: yellow;
    border-radius: 100%;
}

.act-user-info{
    width: 100%;   
    
}
.act-user-info table{
    width: 100%;   
}